<!doctype html>
<html>
<meta name="viewport" content="width=device-width, initial-scale=1" http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<head>
	<title>Carpark App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Dosis:400,700" rel="stylesheet">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
</head>
   <body>

   	<h1>carpark.py</h1>
      <form action = "/address" method = "POST">
         <p>Enter your address: 
          <input
          class = "index-form"
          type = "search" 
          name = "address" 
          id="address-input" 
          placeholder ="address" 
          pattern = "^[a-zA-Z ]*$" 
          required>
        </p> <!-- regex (prevent numeric inputs) -->

         <p>Note: Beta Version - API Coverage is limited (e.g <b>"Teban"</b> works but <b>"Orchard"</b> and other HDB/CBD Areas/Private/Landed estates might not work. Postal codes and numeric inputs like <b>"650122"</b> are not valid inputs as well.)</p>
         <p><input onclick="store()" type = "submit" value = "Submit"></p>
      </form>

      <p id="search-query"> <!-- addresses go here --> </p>

   </body>

  <script  type="text/javascript">

  const addressInput = document.getElementById("address-input");

    function store(){
      localStorage.setItem("addressStorage", addressInput.value);
      console.log("STORING LOCALSTORAGE");
    }

    // on refresh, populate input form
    window.onload = function() {
      addressInput.value = localStorage.getItem("addressStorage");
      console.log("LOADED FROM LOCALSTORAGE");
    }

  $("form").click(function (e) {
    e.preventDefault();
    var value = $("#address-input").val();
    alert(value);
    $.ajax({
        type: "POST",
        data: JSON.stringify({ "text" : value } ),
        contentType: "application/json; charset=utf-8",
        dataType: "json",
        success: function (data) {
          for (let i = 0; i < data[0].length; i += 1) {
            // console.log(data[i]["address"]);
            $("#search-query").append('<div>' + 
              data[0][i]["address"] + 
              ': ' + 
              '</div>');
            for (let j = 0; j < data[1].length; j += 1) {
              if (data[0][i]["car_park_no"] === data[1][j]["carpark_number"]) {
                console.log(data[1][j]["carpark_info"][0]);
                $("#search-query").append('<div>' + '<b>Lots Available: ' + data[1][j]["carpark_info"][0]["lots_available"] + '</div>')
              }
            }            
          }
        }
      });
  });

  </script>
</html>